:root {
    --color-primary: #1a77a3;
    --color-primary-dark: #288d9a;
    --color-primary-light: #74c6d1;
    --color-white: #ffffff;
    --color-gray-light: #e3e3e3;
    --color-gray: #b2b2b2;
    --color-gray-dark: #777777;
    --color-gray-darker: #242424;
    --color-black: #000000;
}